<h2>Editing Book</h2>
<%= form_with model: @book, url: edit_user_path(@book.id), method: :patch do |f| %>
  <label for="book_title">Title</label>

  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>

  <label for="book_opinion">Opinion</label>

  <textarea class="form-control opinion" name="book[opinion]" id="book_opinion"></textarea>
  <%= f.submit "Update Book" %>
  <p><%= link_to "Show", book_path(@book) %>|<%= link_to "Back", books_path %></p>
<% end %>
